*{
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

#logo{
	display: block;
	height: 200px;
	width: 250px;
}

.login_form, .relogin_form, .add_buyer_form, .add_item_form, .delete_buyer_form, .delete_item_form, .login_form, .relogin_form{
	margin-left: 500px;
}

.label{
display: inline-block;
width: 130px;
}

.text, .password{
	margin-top: 10px;
}

.submit{
	margin-top: 5px;
	width: 100px;
	height: 30px;
	border-radius: 5px;
}

.logout{
	position: absolute;
	top: 0px;
	right: 10px;
}
.button{
	text-decoration: none;
	text-align: center;
	
}

.item{
	border: 1px solid gray;
	display: inline-block;
	margin: 5px;
	width: 200px;
}

.item_row{
	border-top: 1px solid gray;
	width: 100%;
}

.item_img{
	height: 150px;
	width: 150px;
}
.link{
	text-decoration: none;
	color: black;
}

#exit_title{
	position: absolute;
	left: 35%;
	top: 20%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.par{
	font-size:55px; 
	text-align: center; 
	font-weight: bold;
}

.btn{
	border: 1px solid black;
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
	color:black;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover{
	background-color: #add8e6;
}
.btn:active {
  background-color: #add8e6;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btext{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	  top: 50%;
	  left: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.bidb{
	margin-top: 5px;
	width: 60px;
	height: 25px;
	border-radius: 5px;
}
.warn{
	color: red;
}